<div class="text-center">
  <h1 class="text-danger"><strong>Curso de Diretivas</strong></h1>
  <div class="row justify-content-center">
    <div class="col-2">Contador:</div>
    <div class="card col-1" [ngClass]="{ moreWidth: count > 09 }">
      {{ count }}
    </div>
  </div>

  <div class="row justify-content-center">
    <span class="btn btn-primary col-2" (click)="contar()">Adicionar</span>
    <span class="btn btn-danger col-2" (click)="diminuir()">Remover</span>
  </div>
  <div class="row justify-content-center">
    <span class="btn btn-success col-2" (click)="auto()">Auto</span>
    <span class="btn btn-warning col-2" (click)="parar()">Parar</span>
  </div>
  <div class="row justify-content-center">
    <span class="btn btn-secondary col-4" (click)="zerar()">Zerar</span>
  </div>
  <div class="row justify-content-center">
    <span class="btn btn-secondary col-4" (click)="pararZerar()"
      >Parar e Zerar</span
    >
  </div>
</div>
